::placeholder {
  color: #0797FF;
  font-size: 14px;
  font-family: "Helvetica";
}

.image-icon {
  position: absolute !important;
  right: 20px;
  top: 10px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.form-control-right{
  border-right: none
}
.form-control-left{
  border-left: none
}

.icon-input {
  padding-right: 60px !important;
}

textarea:focus {
  height: 100px
}


