::placeholder {
  color: #0797FF;
  font-size: 14px;
  font-family: "Helvetica";
}

.image-icon {
  position: absolute !important;
  right: 20px;
  top: 10px;
}

.icon-input {
  padding-right: 60px !important;
}
