<div class="row justify-content-center">
  <div class="col-md-6 border-top bg-white">
    <div class="row my-2" style="padding-left: 10px">
      <div style="padding: 0px" class="col-md-1">
        <img src="{{tweet.user.imgProfile}}" alt="" style="width: 100%" class="rounded-circle mx-auto d-block img-fluid">
      </div>
      <div style="padding: 0px 10px 0px 10px" class="col-md-11">
        <span style="font-size: 14px">
          <strong>{{tweet.user.name}}</strong>
          <span style="font-size: 14px" class="text-secondary"> @{{tweet.user.nick}} - {{tweet.created_at | date:
            'shortTime'}}</span>
        </span>
        <br>
        <span style="font-size: 14px">
          {{tweet.content}}
        </span>

        <img *ngIf="tweet.img" style="border-radius: 10px" class="mx-auto d-block img-fluid mt-2" src="{{tweet.img}}"
          alt="">

        <div class="row mt-2">
          <div class="col-md-12 text-secondary fontSize">
            <span class="mr-5 commentHover"><i class="far fa-comment mr-1"></i> {{tweet.comments}}</span>
            <span class="mr-5 retweetHover"><i class="fas fa-retweet mr-1"></i> {{tweet.retweets}}</span>
            <span (click)="like()" class="mr-5 likeHover {{tweet.likes ? 'like' : ''}}">
              <i class="{{tweet.likes ? 'fas' : 'far'}} fa-heart mr-1"></i>
              {{tweet.likes}}
            </span>
            <span class="mr-5 commentHover"><i class="far fa-envelope mr-1"></i></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
