<app-nav-bar [user]="user"></app-nav-bar>

<div style="margin-top: 55px" class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div style="background-color: white; height: 212px;" class="mb-3">
        <app-card-profile [user]="user"></app-card-profile>
      </div>
      <div style="background-color: white; height: 400px;"></div>
    </div>

    <div class="col-md-6">
      <app-new-tweet [user]="user"></app-new-tweet>
      <app-tweet (modalChangeComment)='emitterTweetComment($event)' (modalChangeTweet)='emitterTweet($event)' *ngFor="let tweet of feed"
        [tweet]="tweet"></app-tweet>

      <app-modal-comment [tweet]="tweetModalComment"></app-modal-comment>
      <app-modal-tweet [tweet]="tweetModal"></app-modal-tweet>
    </div>

    <div class="col-md-3">
      <div style="background-color: white; height: 313px;" class="mb-3"></div>
      <div style="background-color: white; height: 165px;"></div>
    </div>
  </div>
</div>
