<div class="login-wrapper">
  <div class="card" style="width: 25rem;">
    <div class="card-body text-center" style="padding: 35px">
      <i style="color: #4AB3F4" class="fab fa-twitter fa-4x"></i>

      <form>
        <div class="form-group">
          <input #username type="text" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Nome de usuário">

          <button class="btn text-white mt-3" style="background-color: #4AB3F4; width: 100%"
            (click)="login(username.value)">
            Entrar
          </button>

          <small id="emailHelp" class="form-text text-muted mt-2">
            <a routerLink="/register">Registre-se</a>
          </small>

          <span *ngIf="msg" style="color: red; font-size: 12px">{{msg}}</span>
        </div>
      </form>
    </div>
  </div>
</div>
