<div>
  <img width="100%" src="https://pbs.twimg.com/profile_banners/473873041/1455597713/600x200" alt="">
</div>
<div style="height: 50%; overflow: visible">
  <img style="height: 72px; width: 72px; border-radius: 50%; position: relative; top: -35px; left: 10px; border: solid; border-color: white"
    src="{{user?.imgProfile}}" alt="">
  <div style="position: absolute; top: 95px; left: 105px;">
    <span style="font-weight: bold; font-size: 18px;">{{user.name}}</span>
    <div style="position: absolute; top: 20px">
      <span class="text-secondary" style="font-size: 14px;">@{{user.nick}}</span>
    </div>
  </div>

  <ul class="list-group list-group-horizontal" style="position: absolute; top: 150px">
    <li class="list-group-item ml-3 mr-4" style="padding: 0px">
      <span style="font-weight: bold; font-size: 12px" class="text-secondary">Tweets</span>
      <div style="position: absolute; top: 20px">
        <span style="font-size: 18px; font-weight: 700; color: #1da1f2">18</span>
      </div>
    </li>
    <li class="list-group-item mr-4" style="padding: 0px">
      <span style="font-weight: bold; font-size: 12px" class="text-secondary">Seguindo</span>
      <div style="position: absolute; top: 20px">
        <span style="font-size: 18px; font-weight: 700; color: #1da1f2">64</span>
      </div>
    </li>
    <li class="list-group-item" style="padding: 0px">
      <span style="font-weight: bold; font-size: 12px" class="text-secondary">Seguidores</span>
      <div style="position: absolute; top: 20px">
        <span style="font-size: 18px; font-weight: 700; color: #1da1f2">38</span>
      </div>
    </li>
  </ul>
</div>
